$body-font-size: $gutter-1;

* {
    box-sizing: border-box;
}

body {
    font-family: $default-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $body-font-size;
}

a {
    @include anchor-reset;
}

button {
    @include button-reset;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.text-center {
    text-align: center;
}
