// Spacing
$gutter: 30px;
$gutter-1: $gutter / 2;
$gutter-2: $gutter;
$gutter-3: $gutter * 1.5;
$gutter-4: $gutter * 2;
$gutter-5: $gutter * 2.5;
$gutter-6: $gutter * 3;
$gutter-7: $gutter * 3.5;
$gutter-8: $gutter * 4;
$gutter-9: $gutter * 4.5;
$gutter-10: $gutter * 5;

// Font
$helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-font: $helvetica-neue;

// Colors
$black-1: #000;
$black-2: #373a3c;
$black-3: #201d1e;
$white: #fff;
$blue: #0275d8;
$grey-1: #f2f2f2;
$grey-2: #999;
$grey-3: #ccc;
$grey-4: #b3b3b3;

// Layout
$header-height: 110px;
$footer-height: 215px;
// Others
$border-radius: 4px;
$logo-height: 58px;
$logo-width: 128px;
