// Spacing
$gutter: 30px;
$gutter-1: $gutter / 2;
$gutter-2: $gutter;
$gutter-3: $gutter * 1.5;
$gutter-4: $gutter * 2;
$gutter-5: $gutter * 2.5;
$gutter-6: $gutter * 3;
$gutter-7: $gutter * 3.5;
$gutter-8: $gutter * 4;
$gutter-9: $gutter * 4.5;
$gutter-10: $gutter * 5;

// Font
$open-sans: 'Open Sans', sans-serif;
$helvetica-neue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$default-font: $open-sans;

