.header {
  background-color: #000;
  color: #fff;
  color: #999;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .header--transparent {
    background-color: transparent; }
  .header__container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 110px; }
  .header--mod {
    background-color: transparent; }
  .header__logo {
    height: 58px;
    width: 128px; }
  .header__cart {
    color: #fff; }
