@import 'util';

.header {
  background-color: $black-1;
  color: $white-1;
  color: $grey-2;
  position: fixed;
  top: 0;
  width: 100%;

  &--transparent {
    background-color: transparent;
  }

  &__container {
    @include flex(space-between, center);
    width: 100%;
    height: $header-height;
  }
  
  &--mod {
    background-color: transparent;
  }

  &__logo {
    height: $logo-height;
    width: $logo-width;
  }

  &__cart {
    color: $white-1;
  }
}
