.footer {
  width: 100%;
  background-color: #000; }
  .footer__container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 215px; }
  .footer__logo {
    height: 58px;
    width: 128px; }
