@import 'util';

.footer {
  width: 100%;
  background-color: $black-1;
  
  &__container {
    @include flex(center, center);
    height: $footer-height;
  }

  &__logo {
    height: $logo-height;
    width: $logo-width;
  }
}
  