.home-item {
  display: block;
  margin-bottom: 45px;
  padding-bottom: 15px; }
  .home-item__text-wrapper {
    padding: 15px 7.5px; }
  .home-item__picture {
    display: block;
    height: 300px; }
  .home-item__name {
    font-size: 20px;
    font-weight: bold;
    color: #373a3c;
    margin-bottom: 15px; }
  .home-item__price {
    font-size: 16px;
    color: #999; }
